// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$yellow: #ffb900;
$blue: #115fff;
$darkblue: #002856;

$footerTop: #1F6BA0;
$footerBottom: #002856;

body.home {
  background-color: #EDEDED;
  font-weight: 100;
}

body {
  background-color: $white;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.size-full {
  width: 100%;
}

* {
  font-family: 'Cairo', sans-serif;
}

.btn-primary, .btn-secondary {
  color: #ffffff;

  &:hover {
    color: #ffffff;
  }
}

#wrapper-navbar {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 999;

  .show-all {
    padding-top: 10px;
    color: $yellow;
    a {
      color: $yellow;
    }
  }

  .dropdown {
    position: unset;
  }

  .navbar {
    margin: 0 auto;
    padding: 0px;
    .navbar-brand {
      padding: 0;
    }

    .navbar-toggler {
      border: none;
    }
  }

  #main-menu {

    .dropdown-toggle::after {
      display: none;
    }
    & > li {
      a {
        text-transform: uppercase;
      }
      &:hover, &:active, &.show {
        color: #fff;
        background: $darkblue;
      }

      .dropdown-menu-level0 {
        width: 100%;
        background: transparent;
        top: 87%;
        border: none;
        .container {
          padding-top: 30px;
          padding-bottom: 30px;
          background: rgba($darkblue, 0.9);
        

          a {
            text-transform: none;
            &:hover, &:active {
              background: none;

            }
          }

          > li {
            margin-left: 50px;
          }
        }

        .dropdown-item-1 {
          font-size: 24px;
          font-weight: bold;
        }

        @include border-radius(0px);
        li {
          vertical-align: top;
          color: #000;
          background: none;
          display: inline-block;

          &:hover, &:active {
            background: none;
          }



          ul {
            border:none;
            display: block;
            list-style-type: disc;
            width: auto;
            position: relative;
            background: transparent;

            li {
              display: block;
            }

          }
        }
      }

      & > a {
        padding: 30px;
        color: #fff;
        font-weight: 300;
        &:hover, &:active, &.show {

        }
      }
    }
  }
}

#wrapper-navbar #main-menu a {
    color: #fff;
}

.custom-logo-link {
  width: 150px;
  height: auto;
}

.bg-yellow {
  background-color: $yellow;
}

#wrapper-footer-top {
  text-transform: uppercase;
  border-bottom: 3px solid $black;
  background: $footerTop;
  color: $white;
  padding: 0;
  ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 5px 10px;
      border-right: 1px solid #1C5F8D;
      display: inline-block;

      &:first-child {
        border-left: 1px solid #1C5F8D;
      }
    }
  }

  .calendar-menu {
    text-align: right;
    li {
      border: none;
      vertical-align: middle;
      padding-right: 0;
      i {
        margin-right: 5px;
      }
      &:first-child {
        border: none;
      }
    }
  }
  a {
    color: $white;

    &:hover {
      color: $yellow;
    }
  }
}


#wrapper-footer-bottom {
  background: $footerBottom;
  color: $white;
  text-align: top;
  text-transform: uppercase;
  a {
    color: $white;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      margin-right: 30px;
      a {
        font-weight: 300;
      }
      display: inline-block;
      vertical-align: top;
      .sub-menu {
        padding-top: 20px;
        display: block;
        position: relative;
        padding-left: 0;
        li {
          display: list-item;
          margin-left: 0;
          a {
            font-weight: 100;
            color: darken($white, 10%);
            font-size: 0.8rem
          }
        }
      }
    }
  }

  .custom-logo-link {
    padding: 30px 0 10px 0;
  }

  .footer-bottom {
    padding-top: 30px;

    a, .copyright {
      font-weight: 100;
      color: #e6e6e6;
      font-size: .8rem;
    }
    .copyright {
      text-align: right;
      vertical-align: middle;
      .copyright-outer {
        display: table;
        height: 100%;
        width: 100%;
      }

      .copyright-inner {
        display: table-cell;
        vertical-align: middle;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  .divider {
    padding-top: 10px;
  }
}


#featured-slider {
  .carousel-item {
    width: 100%;
    max-height: 800px;
    text-align: center;
    .img-fluid {
      width: 100%;
    }
    .content-headline {
      width: 100%;
      height: 150px;
      bottom: 0;
      position: absolute;

      h3 {
        color: #fff;
        font-size: 2em;
      }
    }
  }

  .carousel-indicators li {
    width: 170px;
  }

  .carousel-caption {
    display: none !important;
    bottom: 50px;
    h3 {
      font-weight: 400;
      margin-bottom: 30px;
    }

  }
}

.home {
  #featured-slider {
    .carousel-caption {
      display: block !important;
      bottom: 50px;
      h3 {
        font-weight: 400;
        margin-bottom: 30px;
      }

    }
  }
}



#index-wrapper, #page-wrapper, #driver-wrapper, #driver-page-wrapper, #archive-wrapper {
  padding-top: 170px;
}

.driver-number {
  color: $yellow;
}

#single-wrapper {
  padding-top: 5px;
}

.btn-primary {
  background-color: $yellow;
  border-color: $yellow;
}

.news-frontpage {
  text-align: center;
  margin-bottom: 30px;

  .col-md-4 {
    margin-bottom: 15px;
  }
  .news-content {
    padding-bottom: 15px;
    background-color: #ffffff;
    .image-container {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 170px;
      width: 100%;
      display: block;
    }
    img {
      object-fit: cover;
      max-height: 150px;
    }
  }
}

.driver-list {
  text-align: center;
  margin-bottom: 30px;
  
  a {
    color: #000000;
    text-decoration: none;
  }

  .driver-cell {
    border: 1px solid #ffffff;
  }

  .driver-content {
    padding-bottom: 15px;
    background-color: #ffffff;
    text-align: left;

    h2 {
      color: $yellow;
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.5rem;
      margin-bottom: 0;
      font-weight: 100;
    }
    h4 {
      font-size: 0.75rem;
      color: $gray-500;
      text-transform: uppercase;
      font-weight: 100;
    }

    .image-container-outer {
      overflow: hidden;
    }
    .image-container {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 170px;
      width: 100%;
      display: block;
      transition: 0.5s;
      &:hover, &:active {
        transform: scale(1.2);
      }
    }
    
    img {
      object-fit: cover;
      max-height: 150px;
    }
  }
}

.entry-meta {
  margin-bottom: 20px;
  a{
    color: $black;
    text-transofmr: uppercase;
  }
}

@media (max-width: 1199.98px) {
  #wrapper-navbar {
    position: relative;
    top: auto;
    background-color: $yellow;
    .navbar {
      margin: 0;
    }

    #main-menu>li .dropdown-menu-level0 {
      background: rgba($darkblue, 0.9);
      .container {
          background: none;
      }
    }
  }

  #index-wrapper, #page-wrapper, #driver-wrapper, #driver-page-wrapper, #archive-wrapper {
    padding-top: 75px;
  }
}

@media (max-width: 991px) {
  #wrapper-navbar #main-menu>li>a {
    padding: 20px 10px;
  }

  #wrapper-navbar #main-menu>li .dropdown-menu-level0 {
    top: 97%;
  }
}
// #wrapper-navbar #main-menu>li .dropdown-menu-level0 li
@media (max-width: 767.98px) {
  #wrapper-navbar {
    #main-menu {
      &>li {
        padding-left: 15px;
        &.show {
          background: none;   
        }
      }
      li {
        a {
          padding: 5px 0;
        }

        .dropdown-menu-level0 {
          .container {
            background: none;
            margin: 0;
            padding: 0;
            &>li {
              padding-left: 15px;
              margin-left: 0;
            }
          }
          &.show {
            background: none;
            border: none;

          }
          .dropdown-item-1{
            font-size: 1rem;
            font-weight: 300;
          }

          li {
            display: block;
            margin-left: 10px;
            a {

            }

            .dropdown-menu-level1 {
              display: none;
            }
          }

        }
      }
    }

    .navbar {
      .navbar-brand {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
  
  #driver-page-wrapper, #driver-wrapper, #index-wrapper, #page-wrapper {
    padding-top: 30px;
  }
  #footer-sub-menu {
    display: none;
  }

  #wrapper-footer-top {
    .calendar-menu {
      text-align: left;
    }
  }

  #wrapper-footer-bottom {
    .divider {
      display: none;
    }
    .footer-bottom {
      ul {
        li {
          display: block;
          a {
            display: block;
            font-size: 1rem;
          }
        }
      }
    }
    
  }
}

@media(max-width: 575px) {

  #wrapper-navbar  {
    .navbar {
      .navbar-brand {
        padding-left: 15px;
      }
    }
  }
}