// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$yellow: #ffb900;
$blue: #115fff;
$darkblue: #002856;

$footerTop: #1F6BA0;
$footerBottom: #002856;

body {
  background-color: #EDEDED;
}

* {
  font-family: 'Cairo', sans-serif;
  font-weight: 100;
}

#wrapper-navbar {
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 999;

  .dropdown {
    position: unset;
  }

  .navbar {
    margin: 0 200px 0 200px;
    // top: 50px;
    padding: 0px;
    .navbar-brand {
      padding: 0;
    }
  }

  #main-menu {

    .dropdown-toggle::after {
      display: none;
    }
    & > li {
      &:hover, &:active, &.show {
        color: #fff;
        background: $darkblue;
      }

      .dropdown-menu-level0 {
        width: 100%;
        background: transparent;
        top: 97%;
        &.show {
          background: rgba($darkblue, 0.9);
        }

        a {
          text-transform: none;
          &:hover, &:active {
            background: none;

          }
        }

        > li {
          margin-left: 50px;
        }

        .dropdown-item-1 {
          font-size: 24px;
          font-weight: bold;
        }

        @include border-radius(0px);
        li {
          vertical-align: top;
          color: #000;
          background: none;
          display: inline-block;

          &:hover, &:active {
            background: none;
          }



          ul {
            border:none;
            display: block;
            list-style-type: disc;
            width: auto;
            position: relative;
            background: transparent;

            li {
              display: block;
            }

          }
        }
      }

      & > a {
        padding: 30px;
        color: #fff;
        font-weight: 300;
        &:hover, &:active, &.show {

        }
      }
    }
  }
}

#wrapper-navbar #main-menu a {
    color: #fff;
}

.custom-logo-link {
  width: 150px;
  height: auto;
}

.bg-yellow {
  background-color: $yellow;
}

#wrapper-footer-top {
  text-transform: uppercase;
  border-bottom: 3px solid $black;
  background: $footerTop;
  color: $white;
  padding: 0;
  ul {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    li {
      padding: 5px 10px;
      border-right: 1px solid #1C5F8D;
      display: inline-block;

      &:first-child {
        border-left: 1px solid #1C5F8D;
      }
    }
  }

  .calendar-menu {
    text-align: right;
    li {
      border: none;
      vertical-align: middle;
      padding-right: 0;
      i {
        margin-right: 5px;
      }
      &:first-child {
        border: none;
      }
    }
  }
  a {
    color: $white;

    &:hover {
      color: $yellow;
    }
  }
}


#wrapper-footer-bottom {
  background: $footerBottom;
  color: $white;
  text-align: top;
  text-transform: uppercase;
  a {
    color: $white;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      margin-right: 30px;
      a {
        font-weight: 300;
      }
      display: inline-block;
      vertical-align: top;
      .sub-menu {
        padding-top: 20px;
        display: block;
        position: relative;
        padding-left: 0;
        li {
          display: list-item;
          margin-left: 0;
          a {
            font-weight: 100;
            color: darken($white, 10%);
            font-size: 0.8rem
          }
        }
      }
    }
  }

  .custom-logo-link {
    padding: 30px 0 10px 0;
  }

  .footer-bottom {
    padding-top: 30px;

    a, .copyright {
      font-weight: 100;
      color: #e6e6e6;
      font-size: .8rem;
    }
    .copyright {
      text-align: right;
      vertical-align: middle;
      .copyright-outer {
        display: table;
        height: 100%;
        width: 100%;
      }

      .copyright-inner {
        display: table-cell;
        vertical-align: middle;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
  .divider {
    padding-top: 10px;
  }
}



#featured-slider {
  .carousel-item {
    max-width: 1920px;
    max-height: 800px;
    text-align: center;

    .content-headline {
      width: 100%;
      height: 150px;
      bottom: 0;
      position: absolute;

      h3 {
        color: #fff;
        font-size: 2em;
      }
    }
  }

  .carousel-indicators li {
    width: 170px;
  }

  .carousel-caption {
    bottom: 50px;
    h3 {
      font-weight: 400;
      margin-bottom: 30px;
    }

  }
}

#index-wrapper, #page-wrapper, #single-wrapper, #driver-wrapper {
  padding-top: 170px;
}

.btn-primary {
  background-color: $yellow;
  border-color: $yellow;
}

.news-frontpage {
  text-align: center;
  margin-bottom: 30px;
  .news-content {
    padding-bottom: 15px;
    background-color: #ffffff;
    .image-container {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 170px;
      width: 100%;
      display: block;
    }
    img {
      object-fit: cover;
      max-height: 150px;
    }
  }
}

@media (max-width: 1199.98px) {
  #wrapper-navbar {
    position: relative;
    top: auto;
    .navbar {
      margin: 0;
    }
  }
}
// #wrapper-navbar #main-menu>li .dropdown-menu-level0 li
@media (max-width: 767.98px) {
  #wrapper-navbar {
    #main-menu {
      &>li.show {
        background: none;
      }
      li {
        a {
          padding: 5px 0;
        }

        .dropdown-menu-level0 {
          &.show {
            background: none;
            border: none;
          }
          .dropdown-item-1{
            font-size: 1rem;
            font-weight: 300;
          }

          li {
            display: block;
            margin-left: 10px;
            a {

            }

            .dropdown-menu-level1 {
              display: none;
            }
          }

        }
      }
    }

    .navbar {

    }
  }

  #footer-sub-menu {
    display: none;
  }

  #wrapper-footer-bottom {
    .divider {
      display: none;
    }

    ul {

      li {
        display: block;
        a {
          display: block;
        }
      }
    }
  }


}
